<h1>Edit Meal</h1>

    <form action="/meals/<%= meal._id %>?_method=PUT" method="POST">
        <label>Name</label>
        <input type="text" name="name" value="<%= meal.name %>" required />

        <label>Type</label>
        <select name="type" required>
            <option value="breakfast" <%= meal.type === 'breakfast' ? 'selected' : '' %>>Breakfast</option>
            <option value="lunch" <%= meal.type === 'lunch' ? 'selected' : '' %>>lunch</option>
            <option value="dinner" <%= meal.type === 'dinner' ? 'selected' : '' %>>dinner</option>
            <option value="snack" <%= meal.type === 'snack' ? 'selected' : '' %>>snack</option>  
        </select>

        <label>Calories</label>
        <input type="number" name="calories" value="<%= meal.calories %>" min="0" required />

        <button type="submit">Update Meal</button> 
    </form>

    <p>
        <a href="/meals"><button>Back</button></a>
    </p>
    
</body>
</html>